@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", serif;
}


body{
  background-color: #080808;
  color: white;
}

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .eachImage {
    transition: transform 0.5s ease !important;
  }
  
  .eachImage:hover {
    transform: scale(1.08) !important; 
  }

  .eachImagea {
    transition: transform 0.5s ease !important;
  }
  
  .eachImagea:hover {
    transform: scale(0.96) !important; 
  }



  @keyframes float {
    0% { transform: translateY(0px) translateX(0px) rotate(0deg); }
    25% { transform: translateY(-10px) translateX(5px) rotate(2deg); }
    50% { transform: translateY(0px) translateX(10px) rotate(0deg); }
    75% { transform: translateY(10px) translateX(5px) rotate(-2deg); }
    100% { transform: translateY(0px) translateX(0px) rotate(0deg); }
  }
  /* .myDivImage:hover {
    animation: float 3s ease-in-out infinite;
  } */